*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav1{
  height:50px;
  width: 100%;
  color: white;
  background-color: #222f3e;
  display: flex;
  justify-content:end;
  align-items: center;
}
.nav1 div{
    margin-right: 150px;
}
.nav1 i{
    margin: 0 5px;
}
.nav1 a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: #e67e22;
}
.nav2{
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size:20px;
}
.menu a:hover{
    background-color: aquamarine;
}

header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7)),url('./images/main.jpg');
    background-size: 100% 100%;

}
header .text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h2{
    font-size:40px;

}
.text span{
    color:#e67e22;
}
.text p{
    font-size: 20px;
    margin: 40px 0;
    line-height: 25px;
}
.text a{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 10px 20px;
    margin: 0 15px;
}
.text a:hover{
    background-color:#222f3e ;
    
}